.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  height: 60px;
  padding: 20px;
}

main {
  flex: 1;
}

/* navbar */

.navbar-brand {
  color: blueviolet !important;
}

.nav-link.active {
  color: blueviolet !important;
}
